<form method="POST" action="/categories/update/<%= category.id %>">
  Categoria:<br>
  <input type="text" name="category" value="<%= category.category %>" placeholder="Insira o nome da category" />
  <br><br>
  <button>Salvar</button>
</form>