<%- include('../header') %>
<div class="container">
  <h2>Nova Categoria</h2>
  <form method="POST" action="/categories/create">
    <div class="form-group">
      <label for="category">Categoria</label>
      <input class="form-control" type="text" id="category" name="category" placeholder="Insira o nome da categoria" />
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>
<%- include('../footer') %>