<form method="POST" action="/categorias/editar/<%= categoria.id %>">
  Categoria:<br>
  <input type="text" name="categoria" value="<%= categoria.categoria %>" placeholder="Insira o nome da categoria" />
  <br><br>
  <button>Salvar</button>
</form>